# Day One Assignment

**Check if the given dataset `gen1.csv` is monotonic or not**

In [1]:
# importing Python Packages
import pandas as pd

# reading the dataset
data = pd.read_csv("gen1.csv")

# displaying the dataset
data

       temp     vp   PET  rainfall
0     22.13  23.50  5.87      0.27
1     24.16  22.39  6.52      2.69
2     26.04  24.43  7.21     30.48
3     27.03  36.90  7.26     12.83
4     26.60  45.12  6.88    116.82
...     ...    ...   ...       ...
2446  26.95  44.63  5.23    156.34
2447  25.45  37.62  5.28      0.30
2448  26.01  28.74  5.70       NaN
2449  27.12  25.59  6.27       NaN
2450  28.22  28.90  6.64     11.74

[2451 rows x 4 columns]

In [2]:
data['temp'].is_monotonic

False

In [3]:
data['vp'].is_monotonic

False

In [4]:
data['PET'].is_monotonic

False

In [5]:
data['rainfall'].is_monotonic

False